* {
    box-sizing:border-box;
    margin: 0;
}

main {
    background-color: #BCE8D3;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 10vw;
    padding: 50px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    box-shadow:10px 10px 3px #B6C6BF;
}

main h1 {
    text-align: center;
    font-family: 'Satisfy', cursive;font-family: 'Satisfy', cursive;
    font-size:150%;
}

.textbox {
    box-sizing: content-box;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

main nav {
    margin-top: 5vh;
    background-color: #90E964;
    width: 40vw;
    height: 25vh;
    border-radius: 15px;
    border-style: solid;
}

nav p {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 12px;
    padding-left: 20px;
}

form{
    text-align: center;
}

form div{
    padding-top: 20px;
    text-align: center;
}

div button {
    width: 30vw;
    height: 4vh;

